/*
 * Jeu du pendu en JavaScript
 * Pierre Romestant, Elyan Poujol, Morgane Tuffery, Aleksandr Vassilyev
 */

/*
 * Mise en page principale du site
 * 
 */
@font-face {
    font-family: "LemonYellowSun";
    src: url('DK Lemon Yellow Sun.otf');
}

@font-face {
    font-family: FontAwesome;
    src: url('fontawesome-webfont.woff');
}

body {
    background-image : url('../images/background.png');
    font-family: "LemonYellowSun", Helvetica, Arial, sans-serif;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: absolute;
    top: 0;
    left: 0;
}

header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#img_logo {
     width: 430px;
     height: 103px;
     background-color: rgba(255, 255, 255, 0.3);
}

#img_pendu {
    width: 300px;
    height: 400px;
}


nav {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    font-size: 27px;
}

nav li{
    display: inline-block;
    margin-right: 15px;
}

section {
    margin: auto;
    margin-top: 150px;
    width : 600px;
    
}

aside {
    display: inline-block;
}

article {
    display: inline-block;
    text-align: center;
}

footer {
    position: fixed;
    bottom : 30px;
    left : 20px;
}

p {
    font-size: 25px;
}


fieldset {
    padding: 0;
    margin: 0;
    margin: 15px 0;
    border: none;
}

option {
    width: 60px;
}


/*
 * Mise en page des boutons
 */

.boutons {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    padding: 3px;
    margin: 5px;
    color: black;
}

.boutons:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.boutons:active {
    background-color: #DDDDDD;
}

#btnScores {
    width: 75px;
}

#btnAide {
    list-style:none;
    font-size: 27px;
    position: fixed;
    bottom : 30px;
    right : 20px;
    height: 30px;
}

#btnNous{
    font-size: 27px;
    height: 30px;
}


#confirmation {
    display: inline;
    text-align: right;
}


#btnQuitterInscription {
    padding: 2px 15px;
    position: absolute;
    bottom: 10px;  
    left: 110px;    
}   


#btnEnregistrer{
    position: absolute;
    bottom: 10px; 
    right: 100px;
}

.btnQuitterNous {
    position: absolute;
    bottom: 10px; 
    right: 30px; 
}

/* Boutons des diffcultés à choisir */
.difficulte {
    height: 50px;
    width: 75px;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
}



#controlesJeux {
    display: none;
    position :relative;
    top: -50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border-color: black;
}



#saisie {
    position: relative;
    top: -2px;
    border: 1px solid black;
    border-radius: 5px;
    height: 34px;
    width: 200px;
    font-size: 20px;
}


#controles {
    position :absolute;
    top: 270px;
    min-width: 400px;
}

/*
 * CSS Pendant le jeu
 */

#rejouer {
    display: none;
}

#difficultee {
    display: none;
}

/*
 * S'affiche quand l'utilisateur saisie plus d'une lettre
 */

#attention {
    display: none;
    width: 280px;
    padding: 10px;
    background-color: #fa8072;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 15px;
}

#texteAttention {
    font-family: Helvetica;
    text-align: left;
    padding-left: 10px;
}

#logoAttention {
    vertical-align: top;
}

#logoAttention::before {
    font-family: FontAwesome;
    content: '\f071';
}

    
/*Le fond Popup et les fenetres */


#fondPopup{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.fenetrePrincipale {
    margin: 50px auto;
    display: none;
    color: white;
    background-color: black;
    border-radius : 0px 0px 10px 10px;
    border-top: 5px solid white;
    z-index: 200;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
}

#fenetreInscription {
    width: 400px;
    height: 300px;
    top: 100px;
}


#fenetreConnexion {
    width: 300px;
    height: 220px;
    top: 150px;
}

#fenetreAide {
    width: 900px;
    height: 600px;  
}

#fenetreNous {
    width: 900px;
    height: 600px;
}

/* Boutons Se connecter,annuler dans les pop-up, sert à les déplacer à droite */
#btnAnnConn{
    position: absolute;
    left: 60px; 
}

#btnConn{
    position: absolute;
    right: 45px;
}

.btnQuitterSimple {
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.fenetreParticuliere {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background-color: black;
    z-index: 200;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    color: white;
    border-radius : 0px 0px 10px 10px;
    border-top: 5px solid white;
}

/* L'image de bouton du fermeture */

.close{
    position: absolute;
    right: 10px;
    margin-top: 4px;
    cursor: pointer;
}

#close {
    margin-left: 260px;
    margin-top: 4px;
    cursor: pointer;
}   

.pop_up {
    color: #FFFFFF;
    margin: auto;
}

#wrapListePartie {
    margin: auto; 
}


.titrePopup {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.popupLabel {
    width: 80px;
    color: #FFFFFF;
    font-size: 13pt;
}

/* Connexion et inscription Echouee */

.echouee {
    font-size: 16px;
    color: #fa8072;
    text-align: center;
    height: 25px;
}

#infoUtilisateur {
    display: none;
    cursor: pointer;
    width: 200px;
    padding: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 0px 5px;
    background-color: white;
    font-size: 20px;
}

#infoUtilisateur td {
    padding-right: 15px;
}

.optionUtilisateur {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}

.optionUtilisateur:active {
    color: red;
}

/* Les listes des parties, scores, regles et etc. */
.listes {
    color: white;
    font-size: 20px;
    overflow-y: auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* Les listes de tab Parties et Scores */
#tabListeParties, #tabListeScores {
    text-align: left;
}

#tabListeParties td, #tabListeScores td {
    text-align: left;
    padding: 5px 10px 5px 5px;
}

#quiSommesNous {
    height: 500px;
}

#regles {
    height: 500px;
}

#listeScores, #listeParties {
    height: 310px;
}